<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Website</title>
</head>
<body>
  <h1>Apple Private Click Measurement Demo</h1>
  <p>The source website in PCM serves the impression from the advertiser and assigns a randomly chosen click identifier</p>

  <a href="http://pcm-target.gameautomators.com"
    attributesourceid="{{.eight}}"
    attributeon="https://pcm-target.gameautomators.com"
    attributiondestination="https://pcm-target.gameautomators.com">Click on this Ad Here</a>
</body>
</html>

